<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>News Austrian Coding School</h1>
      <h2>Frontend Specialisation</h2>
      <h2>Intake 4 - 2018/19</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/chess">Chessboard</a></li>
        <li><a routerLink="/task-manager">Task Manager</a></li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="/shop">Shop</a></li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
